# -*- coding: utf-8 -*-
# vim: ft=yaml

msmtp:
  accounts:
    example:
      from: root@example.com
      host: smtp.example.com
      port: 587
      user: foo
      password: bar
      auto_from: "on"
      maildomain: example.com
  aliases:
    root:
      - root@example.com
    cron:
      - root@example.com
    default:
      - root@example.com
  default_account: example
