{# vi: set ft=jinja: #}
{% macro aliases_serializer(data) %}
{% for key, values in data.items() -%}
{{ key|string }}: {{ values|join(',')|string }}
{% endfor %}
{% endmacro %}

# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.

{{ aliases_serializer(aliases) }}
