{# vi: set ft=jinja: #}
{% macro msmtprc_config_serializer(data) %}
{% for key, value in data.items() -%}
{{ key }} {{ value }}
{% endfor %}
{% endmacro %}
{% macro msmtprc_accounts_serializer(data) %}
{% for section, pairs in data.items() -%}

account {{ section }}
{% for key, value in pairs.items() -%}
{{ key }} {{ value }}
{% endfor %}
{% endfor %}
{% endmacro %}

defaults
{{ msmtprc_config_serializer(msmtp_config) }}
{{ msmtprc_accounts_serializer(msmtp_accounts) }}

{% if default_account -%}
account default : {{ default_account }}
{% endif -%}
